@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*Layout
---------*/
body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #585962;
} 


/*Header
-----------*/
#logo span+span {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 1.9px;
	color: #566573;
	display: inline-block;
	position: relative;
   bottom: 6px;
   border-bottom: 3px solid #ed145b;
   transition: color 0.2s;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}#logo span+span:hover {
	color: #ed145b;
}

#logo #logo-s {
	font-size: 3.2em;
	letter-spacing: -2px;
	font-weight: bold;
	color: #ed145b;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav.navbar-transparente {
	background: rgba(0,0,0,0.9);
}

.navbar-brand {
	line-height: 35px;
	padding-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: 1.2px;
	color: #566573;
	margin-right: 32px;
	transition: color 0.1s;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-bottom: 1px solid transparent;
}.navbar-dark .navbar-nav .nav-link:hover {
	color: #ed145b;
	border-bottom: 1px solid #ed145b;
}

.navbar-toggler {
	border: none;
}
nav button:focus {
	outline: none;
}
nav button i {
	color: #ed145b;
	font-size: 1.2em;
	 
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
	color: #ed145b;
	border-bottom: 1px solid #ed145b;
}

/*Slider
-----------*/
.carousel-item {
	height: 100vh;
	background: no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.carousel-caption {
	text-transform: uppercase;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}

.carousel-caption h1 {
	font-size: 4em;
	font-weight: 700;
	letter-spacing: 4px;
	padding-bottom: 16px;
	text-shadow: 1px 1px 16px black;
}

.carousel-caption h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 1px 1px 4px black;
}

.carousel-caption a {
	font-weight: 600;
	letter-spacing: 1.1px;
	text-transform: capitalize;
} 

/*Portfolio
---------------*/
.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.jumbotron {
	border-radius: 0;
	padding-left: 0;
	padding-right: 0; 
}

h3.heading {
	font-size: 1.9em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.heading-underline {
	width: 48px;
	height: 2px;
	background-color: #ed145b;
	margin: 16px auto 32px;
}

.portfolio {
	overflow: hidden;
}

.portfolio img {
	max-width: 100%;
	transition: transform .5s ease;
}.portfolio img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}

.row.no-padding [class*=col-] {
	padding: 0;
}

.narrow .btn {
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.narrow .btn-secondary:hover {
	background-color: #ed145b;
	border-color: #ed145b;
}

/*Team
--------*/
.card {
	margin: 32px;

}

/* contact
------------*/
footer {
	background: #17202A;
	color: white;
	padding: 32px 0 48px;
}

footer h1 {
	color: #ed145b;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3.2em;
	font-weight: 700;
	padding-bottom: 10px;
}

footer a i {
	font-size: 1.7em;
	margin: 10px 8px 0 0;
	color: white;
	transition: color 0.2s;
}footer a i:hover {
	color: #ed145b;
}

hr.socket {
	border-top: 1px solid #ccc;
	width: 200px;
	text-align: center;
	margin: 20px auto 10px;
}

form h2 span {
	font-size: 0.3em;
	letter-spacing: 1px;
}

.form-control {
	background-color: #17202A;
	border-color: #495057;
	color: #ccc;	
}.form-control:focus {
	background-color: #17202A;
	border-color: #ccc;
	color: #ccc;
	box-shadow: none;
	box-shadow: 0px 0px 8px -4px #ccc;
}

form button.btn {
	text-transform: uppercase;
	background-color: #17202A;
	color: white;
	border-color: #495057;
	border-radius: 0;
}form button.btn:hover {
	border-color: #ccc;
	color: white;
}

/* MediaQuery
-------------------*/
@media (max-width: 768px) {
	.carousel-caption h1 {
		font-size: 2.4em;
		letter-spacing: 3px;
	}

	.carousel-caption h3 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
}